
@using MvcOnlineTicariOtomasyon.Models.Siniflar
@model List<KargoDetay>
@{
    ViewBag.Title = "KargoTakip";
    Layout = "~/Views/Shared/CariLayout.cshtml";
}

<br />
@using (Html.BeginForm("KargoTakip", "CariPanel", FormMethod.Get))
{
    <p>
        Kargo Takip No : @Html.TextBox("p", null, new { @style = "width:250px; background-color: #F0F0F0; border:1px solid black;" })
        <input type="submit" value="Ara" class="btn btn-secondary" />
    </p>
}
<br />

<table class="table table-bordered" style="margin-top:10px;">
    <tr>
        <th>TAKİP NO</th>
        <th>PERSONEL</th>
        <th>ALICI</th>
        <th>TARİH</th>
        <th>DETAYLAR</th>
    </tr>
    @foreach (var kargo in Model)
    {
        <tr>
            <td>@kargo.TAKIPKODU</td>
            <td>@kargo.PERSONEL</td>
            <td>@kargo.ALICI</td>
            <td>@kargo.TARIH.ToString("dd-MM-yyyy")</td>
            <td><a href="/CariPanel/CariKargoTakip/@kargo.TAKIPKODU" class="btn btn-secondary">DETAYLAR</a></td>
        </tr>
    }

</table>

