@using MvcOnlineTicariOtomasyon.Models.Siniflar
@model List<FaturaKalem>
@{
    ViewBag.Title = "FaturaDetay";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}



<br />
<table class="table table-hover">
    <tr>
        <th>ID</th>
        <th>AÇIKLAMA</th>
        <th>MİKTAR</th>
        <th>BİRİM FİYAT</th>
        <th>TUTAR</th>
    </tr>

    @foreach (var faturakalem in Model)
    {
    <tr>
        <td>@faturakalem.FATURAKALEMID</td>
        <td>@faturakalem.ACIKLAMA</td>
        <td>@faturakalem.MIKTAR</td>
        <td>@faturakalem.BIRIMFIYAT</td>
        <td>@faturakalem.TUTAR</td>
    </tr>
    }
</table>
<a href="/Fatura/YeniKalem" class="btn btn-info">Yeni Kalem Girişi</a>