
@using MvcOnlineTicariOtomasyon.Models.Siniflar
@model IList<SatisHareket>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<table class="table table-bordered" style="margin-top:10px;">
    <thead>
        <tr>
            <th>ID</th>
            <th>ÜRÜN</th>
            <th>CARİ</th>
            <th>PERSONEL</th>
            <th>ADET</th>
            <th>FİYAT</th>
            <th>TOPLAM</th>
            <th>TARİH</th>
            <th>GÜNCELLE</th>
            <th>DETAYLAR</th>
        </tr>
    </thead>
    @foreach (var satis in Model)
    {
        <tr>
            <td>@satis.SATISID</td>
            <td>@satis.URUNLER.URUNAD</td>
            <td>@satis.CARILER.CARIAD @satis.CARILER.CARISOYAD</td>
            <td>@satis.PERSONEL.PERSONELAD @satis.PERSONEL.PERSONELSOYAD</td>
            <td>@satis.ADET</td>
            <td>@satis.FIYAT</td>
            <td>@satis.TOPLAMTUTAR</td>
            <td>@satis.TARIH.ToString("dd-MM-yyyy")</td>
            <td><a href="/Satis/SatisGetir/@satis.SATISID" class="btn btn-success">GÜNCELLE</a></td>
            <td><a href="/Satis/SatisDetay/@satis.SATISID" class="btn btn-secondary">DETAYLAR</a></td>
        </tr>
    }

</table>
<a href="/Satis/YeniSatis" class="btn btn-primary">Yeni Satış Yap</a>


@*<link href="~/Content/bootstrap.css" rel="stylesheet" />

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>




<link href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css" rel="stylesheet" />
<link href="https://cdn.datatables.net/responsive/2.1.1/css/responsive.bootstrap.min.css" rel="stylesheet" />
<script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap4.min.js "></script>

<script>
    $('#tbl1').dataTable({});
</script>*@

