@model MvcOnlineTicariOtomasyon.Models.Siniflar.Personel
@{
    ViewBag.Title = "PersonelEkle";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

@using (Html.BeginForm("PersonelEkle", "Personel", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <form class="form-group" method="post" style="margin-top:10px;">
        @Html.LabelFor(x => x.PERSONELAD)
        @Html.TextBoxFor(x => x.PERSONELAD, new { @class = "form-control" })
        <br />
        @Html.LabelFor(x => x.PERSONELSOYAD)
        @Html.TextBoxFor(x => x.PERSONELSOYAD, new { @class = "form-control" })
        <br />
        @Html.LabelFor(x => x.PERSONELGORSEL)
        @*@Html.TextBoxFor(x => x.PERSONELGORSEL, new { @class = "form-control" })*@
        <input type="file" name="PERSONELGORSEL" />
        <br />
        @Html.LabelFor(x => x.DEPARTMAN)
        @Html.DropDownListFor(x => x.DEPARTMANID, (List<SelectListItem>)ViewBag.dgr1, new { @class = "form-control" })
        <br />
        <button class="btn btn-primary">Kaydet</button>
    </form>
}
